.conteiner {
  max-width: 400px;
  margin: 20px auto;
  padding: 60px 20px 30px 20px;
  border-radius: 10px;
  background-image: url("../images/forest.jpg");
  background-color: #00000050;
  background-blend-mode: normal;
  background-position: bottom;

  position: relative;
  font-family: "Roboto", sans-serif;
}
h1 {
  display: block;
  margin: 50px 0 20px 0px;
}

h1,
h2,
p,
.forecast-day,
.forecast-degrees,
.windSpeed {
  color: #fff;
  font-weight: 500px;
}

.dayTime,
.windSpeed,
.description {
  margin-bottom: 0;
}
#current-button {
  display: inline-block;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  color: #eb8439;
  background-color: #fff;
  cursor: pointer;
  transition: 150ms ease-in-out;
}
#current-button:hover {
  color: #fff;
  background-color: #eb8439;
  cursor: pointer;
  transition: 150ms ease-in-out;
}
.units {
  font-weight: 300;
}
.celsFahren {
  text-decoration: none;
  color: #fff;
}
.celsFahren:hover {
  color: #eb8439;
  cursor: pointer;
  transition: 150ms ease-in-out;
}
.celsFahrenActive {
  color: #eb8439;
}
.enter-city,
.button-search {
  border: none;
  padding: 5px 8px;
  box-shadow: 5px 5px 5px rgb(53, 63, 52);
}
.enter-city {
  border-radius: 5px 0 0 5px;
  outline: none;
}

.button-search {
  background-color: #eb8439;
  color: #fff;
  border-radius: 0 5px 5px 0;
}
.button-search:hover {
  background-color: #fff;
  color: #eb8439;
  transition: 200ms ease-in-out;
}
.top-image {
  color: #fcdc74;
  position: absolute;
  right: 30px;
  top: 40px;
  width: 120px;
  height: 120px;
}
.forecast-day,
.forecast-degrees {
  text-align: center;
}
.forecast-image {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.weather-table {
  line-height: 40px;
}

.footer {
  max-width: 400px;
  margin: 10px auto;
  font-size: 15px;
}
.footerLink {
  text-decoration: underline;
  color: #eb8439;
  font-size: 15px;
}
.footerLink:hover {
  color: #eb8439;
  cursor: pointer;
}
